// Reset 
html,body,div,span,iframe,h1,h2,h3,p,blockquote,pre,a,address,code,del,em,img,small,strong,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tr,th,td,article,aside,canvas,figure,footer,header,nav,section
    margin: 0
    padding: 0
    border: 0
    vertical-align: baseline
    font: inherit
    font-size: 100%
article,aside,figure,footer,header,,nav,section
    display: block
body
    line-height: 1
ol,ul
    list-style: none
body
    padding: 0 40px
    font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif
a
    text-decoration: none
    color: inherit
    
select, button, input, textarea
    display: block
    box-sizing: border-box
    width: 100%
    border: 0

// MEMO #2b9cce ~ #66bec8

// Utility
// ======================================
.u-cf:before, .u-cf:after
    display: table !important
    content: ""
.u-cf:after
    clear: both
.u-mls
    margin-left: 10px
.u-mts
    margin-top: 10px
.u-mbm
    margin-bottom: 20px


// Layout
// ======================================
.l-wrapper
    display: flex
.l-paneInput
    position: fixed
    max-width: 480px
.l-paneOutput
    padding: 100px 0 100px 520px

// Animation
// ======================================
@keyframes shake
    0%, 100%
        transform: translateX(0)
    10%, 30%, 50%, 70%, 90%
        transform: translateX(-10px)
    20%, 40%, 60%, 80%
        transform: translateX(10px)

// Component
// ======================================
.c-ribbon
    position: fixed;
    top: 0
    right: 0

.c-title
    margin: 80px 0 0
    color: #999
    font-weight: 100
    font-size: 80px

.c-tabs
    display: flex
    margin: 20px 0

.c-tabs-s-item
    width: 200px
    border-bottom: 3px #eee solid
    color: #999
    text-indent: 1em
    font-size: 18px
    transition-timing-function: ease-out
    transition-duration: 0.4s
    transition-property: border-bottom-color

.c-tabs-s-item.is-active
    border-bottom-color: #66bec8

.c-tabs-s-item > .block
    display: block
    padding: 10px 0
    text-decoration: none

.c-tabContents-s-item
    display: none
    min-height: 40px

.c-tabContents-s-item.is-active
    display: block

.c-textBox
    padding: 1em
    height: 240px
    border-radius: 4px
    background: #eee
    color: #666
    font-weight: bold
    font-size: 14px
    font-family: "Courier New", Courier, monospace

.c-uriBox
    padding: 1em
    height: 40px
    border-radius: 4px
    background: #eee
    color: #666
    font-weight: bold
    font-size: 14px
    font-family: "Courier New", Courier, monospace

.c-button
    position: relative
    display: block
    margin: 40px 0
    padding: 0 1em
    max-width: 280px
    height: 48px
    border: 0
    border-radius: 4px
    background: #66bec8
    color: #fff
    text-align: center
    font-size: 18px
    line-height: 48px

.c-button:hover
    background: #2b9cce

.c-button img
    display: none

.c-button.is-loading img
    display: inline

.c-button.c-button-m-danger
    background-color: #db7080
    animation-name: shake
    animation-duration: 1s
    animation-fill-mode: both

.c-button.c-button-m-danger:hover
    background-color: #db7080

.c-resultBox
    color: #999
    
.c-resultBox-s-item
    margin-bottom: 20px
    font-size: 20px

.c-resultBox-s-item em
    color: #66bec8
    font-weight: bold
    font-size: 48px

.published em,
.paths em,
.lowestCohesionSelector em,
.uniqueFontSize em,
.uniqueColor em,
.mostIdentifierSelector em,
.propertiesCount em
    font-weight: normal
    font-size: 24px

.uniqueColor em
    line-height: 1

.c-colorBox
    display: inline-block
    margin-right: 8px
    width: 20px
    height: 20px
    border-radius: 2px
    box-shadow: 0 0 1px 0 rgba(0,0,0, 0.4)
    vertical-align: -4px

.c-social
    margin: 120px 0 0
    padding-top: 20px
    border-top: 1px #eee solid

.c-social-s-item
    float: left
    margin-right: 10px

@media screen and (max-width: 480px)
    body
        padding: 0 20px
        font-size: 12px
    .l-wrapper
        display: flex
        flex-direction: column
    .l-paneInput
        position: relative
    .l-paneOutput
        padding: 0
    .c-title
        margin: 40px 0 0
        font-size: 40px
    .c-tabs-s-item
        font-size: 14px
    .c-social
        display: none;
    .c-textBox
        height: 120px