<footer>
  <ul>
    <li><a href="https://github.com/t32k/stylestats">
      <svg><use xlink:href="#github"></use></svg>GitHub</a></li>
    <li><a href="https://twitter.com/style_stats">
      <svg><use xlink:href="#twitter"></use></svg>Twitter</a></li>
    <li><a href="https://github.com/t32k/feedback/issues/new">Feedback</a></li>
    <li><a href="https://www.iubenda.com/privacy-policy/855911/legal">Privacy</a></li>
  </ul>
  <p><small>&copy; 2014 StyleStats.org, All rights reserved.</small></p>
</footer>