<header>
  <h1><a href="/">{{ header }}</a></h1>
  <a href="/search" title="Go to Search page"><svg><use xlink:href="#search"></use></svg></a>
</header>

<main class="container container--404">
  <p>This is not the web page you are looking for.</p>
  <p><a href="/">Return to homepage</a></p>
</main>