<header>
  <h1><a href="/">{{ header }}</a></h1>
</header>
<main style="padding:40px;font-size:1.5rem; line-height:1.8" class="container">
  <p>This is not the web page you are looking for.</p>
  <p><a href="/">Return to homepage</a></p>
</main>
<footer>
  <ul>
    <li><a href="https://github.com/t32k/stylestats">
      <svg>
        <use xlink:href="#github"></use>
      </svg>GitHub</a></li>
    <li><a href="https://twitter.com/style_stats">
      <svg>
        <use xlink:href="#twitter"></use>
      </svg>Twitter</a></li>
    <li><a href="https://www.iubenda.com/privacy-policy/855911/legal">Privacy</a></li>
  </ul>
  <p><small>&copy; 2014 StyleStats.org, All rights reserved.</small></p>
</footer>