<header>
  <h1><a href="/">{{ header }}</a></h1>
</header>

<main style="padding:40px;font-size:1.5rem; line-height:1.8" class="container">
  <p>This is not the web page you are looking for.</p>
  <p><a href="/">Return to homepage</a></p>
</main>