<header style="background-color: #455A64">
  <h1><a href="/">CompareStats</a></h1>
  <h2>An evaluating tool for writing better CSS</h2>
  <a href="/search" title="Go to Search page"><svg><use xlink:href="#search"></use></svg></a>
</header>

<main>
  <div class="container">
    {{#if data}}
      <div id="js-sizes-chart" class="c-card c-card--sizeschart"></div>
      {{> list }}
    {{else}}
      <div class="container--404">
        <p>This is not the web page you are looking for.</p>
        <p><a href="/">Return to homepage</a></p>
      </div>
    {{/if}}
    <div style="clear:both"></div>
  </div>
</main>

<script type="application/json" id="js-sizes-data">{{{ sizes }}}</script>
<script type="application/json" id="js-props-data">{{{ properties }}}</script>