<header>
  <h1><a href="/">CompareStats</a></h1>
  <h2>An evaluating tool for writing better CSS</h2>
  <div title="Unavailable now."><svg><use xlink:href="#search"></use></svg></div>
</header>

<main>

  <div class="container">

    <div class="compare">
      {{#if data}}
        {{> list }}
      {{/if}}
    </div>

  </div>
</main>
<script type="application/json" id="js-prop-data">{{{ properties }}}</script>