<header style="background-color: #FF5722">
  <h1><a href="/">CompareStats</a></h1>
  <h2>An evaluating tool for writing better CSS</h2>
  <a href="/search" title="Go to Search page"><svg><use xlink:href="#search"></use></svg></a>
</header>

<main>
  <div class="container">
    <div id="js-sizes-chart" class="c-card c-card--sizeschart"></div>
    {{#if data}} {{> list }} {{/if}}
  </div>
</main>

<script type="application/json" id="js-sizes-data">{{{ sizes }}}</script>
<script type="application/json" id="js-props-data">{{{ properties }}}</script>