extends layout

block content

  header
    h1
      a(href="/") StyleStats
    h2 An evaluating tool for writing better CSS

  main
    .container.l-input#js-operation
      .c-inputBox
        .c-card
          input.c-input#js-uri(type="url" placeholder="Enter the URI of a document (HTML with CSS or CSS only)")
          .progress#js-progress
            .line
        button.c-button.ripple#js-parse(type="button" title="Start Test")
          .inner
            svg(fill="#FFF" width="30" height="30" viewbox='0 0 48 48')
              path(d='M38 26h-12v12h-4v-12h-12v-4h12v-12h4v12h12v4z')
              path(d='M0 0h48v48h-48z', fill='none')

    .container
      ul.c-metrics#js-resultView

      section.c-example
        h2 View Test Results for Popular Sites
        ul
          li
            a(href="/results/nBEUw1oi7k") Google.com
          li
            a(href="/results/VOK6LGFNOC") Twitter.com
          li
            a(href="/results/xXAIwOFpQ8") Facebook.com
          li
            a(href="/results/DevUN5HdvB") Tumblr.com
          li
            a(href="/results/qa3RdzTmQg") Apple.com
          li
            a(href="/results/cNsvDOhaa4") GitHub.com

  footer
    ul
      li
        a(href="https://github.com/t32k/stylestats")
          svg
            use(xlink:href='#github')
          | GitHub
      li
        a(href="https://twitter.com/style_stats")
          svg
            use(xlink:href='#twitter')
          | Twitter
      li
        a(href="https://www.iubenda.com/privacy-policy/855911/legal") Privacy
    p
      small &copy; 2014 StyleStats.org, All rights reserved.

  script(type='application/json' id='js-result')
    | !{ result }