extends layout

block content
  .l-wrapper
    .l-paneInput
      h1.c-title #{title}
      p.u-mbm StyleStats is Node.js library to collect CSS statistics!

      ul.c-tabs#js-tabs
        li.c-tabs-s-item.is-active.js-tab-uri(data-mode='uri')
          a.block(href="#uri") URI
        li.c-tabs-s-item.js-tab-upload(data-mode='upload')
          a.block(href="#upload") File Upload
        li.c-tabs-s-item.js-tab-input(data-mode='input')
          a.block(href="#input") Direct Input

      ul.c-tabContents#js-tabContents
        li.c-tabContents-s-item.is-active.js-tab-uri
          input.c-uriBox#js-uri(type="url" placeholder="EX. http://www.google.com/" value="http://www.google.com/")
        li.c-tabContents-s-item.js-tab-upload
          input.c-fileButton#js-upload(type="file" value="Upload" multiple)
        li.c-tabContents-s-item.js-tab-input
          textarea.c-textBox#js-input(placeholder="EX. #foo { color: green; }" autofocus)

      .u-mbm
        button.c-button#js-parse
          span#js-text Parse
          img(src="/img/loading-bars.svg" height="45")

      ul.c-social
        li.c-social-s-item
          iframe(src="http://ghbtns.com/github-btn.html?user=t32k&repo=stylestats&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20")
        li.c-social-s-item
          a(href="https://twitter.com/share" data-count="horizontal" class="twitter-share-button" data-lang="en")
        li.c-social-s-item
          div(class="g-plusone" data-size="medium")
        li.c-social-s-item
          div(class="fb-like" data-layout="button_count" data-send="false" data-show-faces="false")
    
    .l-paneOutput#js-view
  a(href="https://github.com/t32k/stylestats")
    img(style="position: absolute; top: 0; right: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png")
  .html-jade.
    <script type="text/template" id="js-tmpResult">
      <ul class="c-resultBox">
      <% _.each(results, function (result) { %>
         <li class="c-resultBox-s-item <%- result.name %>">
         <%- result.prop %><br>
         <% if(result.name === 'uniqueColor') { %>
           <div class="u-mts u-mls"><%= result.value %></div></li>
         <% } else {%>
           <em><%= result.value %></em></li>
         <% }%>
      <% }); %>
      </ul>
    </script>
    <script type="text/template" id="js-tmpColor">
      <% if(colors !== 'N/A' ) {%>
        <% _.each(colors, function (color) { %>
          <span class="c-colorBox" style="background-color: <%- color %>"></span>
          <em><%- color %></em><br>
        <% }); %>
      <% } else {%>
        <em style="font-size:30px"><%- colors %></em>
      <% }%>
    </script>
  #fb-root