extends layout

block content
  .l-wrapper
    .l-paneInput
      h1.c-title #{title}
      p.c-description StyleStats is a Node.js library to collect CSS statistics!

      ul.c-tabs#js-tabs
        li.c-tabs-s-item.is-active.js-tab-uri(data-mode='uri')
          a.block(href="#uri") URI
        li.c-tabs-s-item.js-tab-upload(data-mode='upload')
          a.block(href="#upload") File Upload
        li.c-tabs-s-item.js-tab-input(data-mode='input')
          a.block(href="#input") Direct Input

      ul.c-tabContents#js-tabContents
        li.c-tabContents-s-item.is-active.js-tab-uri
          input.c-uriBox#js-uri(type="url" placeholder="EX. http://www.google.com/" value="http://www.google.com/")
        li.c-tabContents-s-item.js-tab-upload
          input.c-fileButton#js-upload(type="file" value="Upload" multiple)
        li.c-tabContents-s-item.js-tab-input
          textarea.c-textBox#js-input(placeholder="EX. #foo { color: green; }" autofocus)

      .u-mbm
        button.c-button#js-parse
          span#js-text Parse
          img(src="/img/loading-bars.svg" height="45")

    .l-paneOutput#js-view

  ul.c-footer
      li.c-footer-s-item
        a(href="https://github.com/t32k/stylestats") Source
      li.c-footer-s-item
        a(href="https://github.com/t32k/stylestats#metrics") Document
      li.c-footer-s-item
        a(href="https://www.iubenda.com/privacy-policy/855911/legal") Privacy
      li.c-footer-s-item.c-footer-s-item-m-copyright
        span.u-nw &copy; 2014 StyleStats.org


  a(href="https://github.com/t32k/stylestats")
    img.c-ribbon(src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png")
  
  .html-jade.
    <script type="text/template" id="js-tmpResult">
      <ul class="c-resultBox">
      <% if (path) { %>
         <li class="c-resultBox-s-item share">
           <div class="inner">
             <h3 class="header">Share</h3>
             <ul class="c-resultBox-s-share u-cf">
                <li><a href="https://twitter.com/share?url=<%- path %>" title="Share on Twitter" target="_blank"><i class="icon-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%- path %>" title="Share on Facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                <li><a href="https://plus.google.com/share?url=<%- path %>" title="Share on Google+" target="_blank"><i class="icon-plus"></i></a></li>
             </ul>
           </div>
         </li>
      <% } %>
      <% _.each(results, function (result) { %>
         <li class="c-resultBox-s-item">
           <div class="inner">
             <h3 class="header"><%- result.name %></h3>
             <div class="section"><%= result.value %></div>
           </div>
         </li>
      <% }); %>
      </ul>
    </script>
    <script type="text/template" id="js-tmpColor">
      <ul class="list">
      <% if(colors !== 'N/A' ) {%>
        <% _.each(colors, function (color) { %>
          <li>
            <span class="c-colorBox" style="background:<%- color %>"></span>
            <em><%- color %></em>
          </li>
        <% }); %>
      <% } else {%>
        <li><%- colors %></li>
      <% }%>
      </ul>
    </script>
  #fb-root