extends layout

block content

  header
    h1
      a(href="/") StyleStats
    h2 An evaluating tool for writing better CSS

  main
    .container.l-input#js-operation
      .c-inputBox
        .c-card
          input.c-input#js-uri(type="url" placeholder="Enter the URI of a document (HTML with CSS or CSS only)")
          .progress#js-progress
            .line
        button.c-button.ripple#js-parse(type="button" title="Start Test")
            svg
              use(xlink:href='#add')

    .container
      ul.c-metrics#js-resultView

      section.c-example
        h2 View Test Results for Popular Sites
        ul
          li
            a(href="/results/vjuYDgbTma") Google.com
          li
            a(href="/results/vjuYDgbTma") Yahoo.com
          li
            a(href="/results/vjuYDgbTma") Twitter.com
          li
            a(href="/results/vjuYDgbTma") Facebook.com
          li
            a(href="/results/vjuYDgbTma") Tumblr.com
          li
            a(href="/results/vjuYDgbTma") Apple.com
          li
            a(href="/results/vjuYDgbTma") GitHub.com

  footer
    ul
      li
        a(href="https://github.com/t32k/stylestats")
          svg
            use(xlink:href='#github')
          | Source
      li
        a(href="https://github.com/t32k/stylestats#metrics") Document
      li
        a(href="https://www.iubenda.com/privacy-policy/855911/legal") Privacy
    p
      small &copy; 2014 StyleStats.org, All rights reserved.

  script(type='application/json' id='js-result')
    | !{ result }