extends layout

block content
  header.c-pageHeader
    h1
      a(href="/") StyleStats
    p An evaluating tool for writing better CSS
  .c-card#js-operation
    .c-inputBox
      input.c-input#js-uri(
      type="url"
      placeholder="Enter the URI of a document (HTML with CSS or CSS only) "
      value="http://www.google.com/")

    button.c-button#js-parse(type="submit")
      span#js-text Parse

  .l-paneOutput
    ul#js-resultView.c-resultBox

  ul.c-pageFooter
    li.c-footer-s-item
      a(href="https://github.com/t32k/stylestats") Source
    li.c-footer-s-item
      a(href="https://github.com/t32k/stylestats#metrics") Document
    li.c-footer-s-item
      a(href="https://www.iubenda.com/privacy-policy/855911/legal") Privacy
    li.c-footer-s-item.c-footer-s-item-m-copyright
      span.u-nw &copy; 2014 StyleStats.org

  script(type='application/json' id='js-result')
    | !{ result }