doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    title #{ title }
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://www.stylestats.org/")
    meta(property="og:title" content="StyleStats")
    meta(property="og:description" content="StyleStats is an evaluating tool for writing better CSS.")
    meta(property="og:image" content="http://www.stylestats.org/img/og-image.png")
    meta#js-token(name="_csrf", content="#{csrf_token}")
    link(rel='stylesheet', href='/css/app.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,700')
  body(role='application')
    svg(style="display:none")
      symbol#add(viewbox='0 0 48 48')
        path(d='M38 26h-12v12h-4v-12h-12v-4h12v-12h4v12h12v4z')
        path(d='M0 0h48v48h-48z', fill='none')

    block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='//www.parsecdn.com/js/parse-1.4.2.min.js')
    script(src='/js/app.min.js')
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-2317436-37', 'auto');
      | ga('send', 'pageview');