<header>
  <h1><a href="/">SearchStats</a></h1>
  <h2>An evaluating tool for writing better CSS</h2>
  <div title="Unavailable now.">
    <svg><use xlink:href="#search"></use></svg>
  </div>
</header>

<main>
  <div class="container">
    <input type="text">
    <input type="text">
    <a href="" class="button">Compare</a>
  </div>
</main>
