{{#each results}}
<li class="c-card">
  <div class="inner">
    <h3 class="header">{{ @key }}</h3>
    <section data-name="{{ @key }}">{{{ this }}}</section>
  </div>
</li>
{{/each}}
<li class="c-card">
  <div class="inner">
    <h3 class="header">Share</h3>
    <section class="c-share">
      <ul>
        <li><a href="https://twitter.com/share?url=" class="js-share" target="_blank">
          <svg><use xlink:href="#twitter"></use></svg>Share on Twitter</a></li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=" class="js-share" target="_blank">
          <svg><use xlink:href="#facebook"></use></svg></i>Share on Facebook</a></li>
        <li><a href="https://plus.google.com/share?url=" class="js-share" target="_blank">
          <svg><use xlink:href="#googleplus"></use></svg>Share on Google+</a></li>
      </ul>
    </section>
  </div>
</li>