{{#each results}}
<li class="c-card">
  <div class="inner">
    <h3 class="header">{{ @key }}</h3>
    <section data-name="{{ @key }}">{{{ this }}}</section>
  </div>
</li>
{{/each}}
<li class="c-card">
  <div class="inner">
    <h3 class="header">Share</h3>
    <section>
      <ul>
        <li><a href="https://twitter.com/share?url="
               class="js-share" title="Share on Twitter" target="_blank">
          <i class="icon-twitter"></i>Share on Twitter</a></li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u="
               class="js-share" title="Share on Facebook" target="_blank">
          <i class="icon-facebook"></i>Share on Facebook</a></li>
        <li><a href="https://plus.google.com/share?url="
               class="js-share" title="Share on Google+" target="_blank">
          <i class="icon-plus"></i>Share on Google+</a></li>
      </ul>
    </section>
  </div>
</li>