html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;font-size:100%;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-spacing:0;border-collapse:collapse;}

body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
	color: inherit;
}
.u-cf:before,
.u-cf:after { 
	content: "";
	display: table !important;
}
.u-cf:after { clear: both; }

.c-title  {
	color: #999;
	font-weight: 100;
	margin: 100px 0 0;
	font-size: 80px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.c-tabs {
	margin: 30px 0;
}
.c-tabs-s-tab {
	float: left;
	width: 200px;
	text-indent: 1em;
	font-size: 18px;
	border-bottom: 3px #eee solid;
	color: #999;
}
.c-tabs-s-tab.is-active {
	border-bottom-color: #66bec8;
}
.c-tabs-s-tab > .block {
	display: block;
	text-decoration: none;
	line-height: 40px;
}

.c-header-alpha  {
	color: #999;
	font-weight: 100;
	margin: 10px;
	font-size: 40px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.c-resultBox-s-box {
	margin: 30px;
}
.c-resultBox-s-box > .header {
	margin-bottom: 10px;

}
.c-resultBox-s-box > .result {
	color: #999;
	font-size: 45px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.u-mbm {
	margin-bottom: 20px;
}
.c-inputBox {
	display: block;
	width: 580px;
	border: 0;
	padding: 0 1em;
	line-height: 36px;
	border-radius: 4px;
	background: #eee;
	height: 300px;
}

.c-urlBox {
	display: block;
	width: 580px;
	border: 0;
	padding: 0 1em;
	border-radius: 4px;
	background: #eee;
	line-height: 36px;
	height: 36px;
}

/* #2b9cce ~ #66bec8*/
.c-button {
	margin: 40px 0;
	display: block;
	width: 200px;
	padding: 0 1em;
	border: 0;
	border-radius: 4px;
	background: #66bec8;
	color: #fff; 
	font-size: 18px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	position: relative;
}
.c-button.is-loading:after {
	position: absolute;
	top: 10px;
	left: 105px;
	content: url("/images/loading-bars.svg");
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;

}
.c-button:hover {
	background: #2b9cce;
}
.c-githubButtons {
	border-top: 1px #eee solid;
	padding-top: 20px;
	margin: 200px 0 0;
}