html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;font-size:100%;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-spacing:0;border-collapse:collapse;}

body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.c-title  {
	color: #666;
	font-weight: 100;
	font-size: 80px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 200px;
}
a {
  color: #00B7FF;
}

.u-mbm {
	margin-bottom: 20px;
}
.c-inputBox {
	display: block;
	width: 500px;
	border: 0;
	padding: 0 1em;
	line-height: 36px;
	border-radius: 4px;
	background: #eee;
	height: 300px;
}

.c-urlBox {
	display: block;
	width: 500px;
	border: 0;
	padding: 0 1em;
	border-radius: 4px;
	background: #eee;
	line-height: 36px;
	height: 36px;
}

/* #2b9cce ~ #66bec8*/
.c-button {
	margin: 40px 0;
	padding: 0 1em;
	border: 0;
	border-radius: 4px;
	background: #66bec8;
	color: #fff; 
	font-size: 18px;
	line-height: 48px;
}
.c-button:hover {
	background: #2b9cce;
}
.c-githubButtons {
	margin: 200px 0 0;
}