html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;font-size:100%;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-spacing:0;border-collapse:collapse;}

body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
	color: inherit;
}
select, button, input, textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.u-cf:before,
.u-cf:after {
	display: table !important; 
	content: "";
}
.u-cf:after { clear: both; }

.c-title  {
	margin: 100px 0 0;
	color: #999;
	font-weight: 100;
	font-size: 80px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.l-wrapper {
	display: flex;
}
.l-painInput {
	max-width: 600px;
	position: fixed;
}
.l-painResult {
	padding: 120px 30px 60px 630px;
}
.c-tabs {
	display: flex;
	margin: 30px 0;
}
.c-tabs-s-tab {
	width: 200px;
	border-bottom: 3px #eee solid;
	color: #999;
	text-indent: 1em;
	font-size: 18px;
}
.c-tabs-s-tab.is-active {
	border-bottom-color: #66bec8;
}
.c-tabs-s-tab > .block {
	display: block;
	padding: 10px 0;
	text-decoration: none;
}

.c-tabContents-s-tabContent {
	display: none;
}
.c-tabContents-s-tabContent.is-active {
	display: block;
}


.u-mbm {
	margin-bottom: 20px;
}
.c-inputBox {
	display: block;
	padding: 0 1em;
	max-width: 580px;
	height: 300px;
	border: 0;
	border-radius: 4px;
	background: #eee;
	line-height: 36px;
}

.c-uriBox {
	display: block;
	padding: 0 1em;
	max-width: 580px;
	height: 36px;
	border: 0;
	border-radius: 4px;
	background: #eee;
	line-height: 36px;
}

/* #2b9cce ~ #66bec8*/
.c-button {
	position: relative;
	display: block;
	margin: 40px 0;
	padding: 0 1em;
	max-width: 300px;
	height: 48px;
	border: 0;
	border-radius: 4px;
	background: #66bec8;
	color: #fff;
	text-align: center; 
	font-size: 18px;
	line-height: 48px;
}
.c-button.is-loading:after {
	position: absolute;
	top: 10px;
	left: 145px;
	display: block;
	max-width: 20px;
	height: 20px;
	content: url("/images/loading-bars.svg");
	text-align: center;

}
.c-resultBox {
	color: #999;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.c-resultBox-s-item {
	margin-bottom: 20px;
	font-size: 20px;
}
.c-resultBox-s-item em {
	color: #66bec8;
	font-weight: bold;
	font-size: 60px;
}
.published em,
.paths em,
.lowestCohesionSelector em,
.uniqueFontSize em,
.uniqueColor em,
.mostIdentifierSelector em,
.propertiesCount em{
	font-weight: normal;
	font-size: 30px;
}
.c-social {
	margin: 200px 0 0;
	padding-top: 20px;
	border-top: 1px #eee solid;
}
.c-social-s-item {
	float: left;
	margin-right: 10px;
}

.c-button:hover {
	background: #2b9cce;
}